@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
/* @font-face {
  font-family: "Unique";
  src: url(./webfontkit-20210125-102324/unique-webfont.woff);
  font-weight: 1000;
} */
/* Navbar */

body {
  box-sizing: border-box;
  width: 100%;
}

p .text {
  font-size: 10vw !important;
  background-color: red;
  width: 50vw;
}

navbar-fixed-top {
  margin: 0;
}
.navLogo {
  height: 3.8rem;
}

body {
  background-color: #ec4e1b !important;
  color: antiquewhite !important;
  font-family: "Dosis";
}

.bg-light {
  background-color: #ec4e1b !important;
}

a {
  color: antiquewhite !important;
  text-align: center;
}
/* Landing Page */
.container-fluid {
  padding: 0;
  margin: 0;
}

.band {
  max-width: 100%;
  max-height: 70%;
  margin-top: 1.6rem;
  border-top: antiquewhite double 0.5rem;
  border-bottom: antiquewhite double 0.5rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}

.bandxl {
  max-width: 100%;
  max-height: fit-content;
  margin-top: 1.6rem;
  border-top: antiquewhite double 0.5rem;
  border-bottom: antiquewhite double 0.5rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}

.logo {
  display: block;
  margin: auto;
  height: 7rem;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 1%;
  z-index: 1;
  text-transform: uppercase;
}
.box {
  text-align: ;
}
.heading {
  font-size: 3rem;
  text-shadow: 0.1rem 0.7rem 0.9rem rgba(0, 0, 0, 0.753);
  padding-bottom: 0.1rem;
  text-align: center;
}

.heading-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: antiquewhite;
  margin: 0 auto 2rem;
}

.landing svg {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container.de {
  margin-top: 2rem;
}
.col-4.child {
  text-align: right;
}

/* About us page */

.intro {
  text-align: center;
}

/* footer */

footer {
  margin-bottom: 2rem;
}

footer a {
  color: antiquewhite;
  font-size: 1rem;
  margin: 1.2rem 0.5rem 0 0;
}
footer .contact {
  height: 2rem;
}

/* About */

.headshot {
  height: auto;
  max-width: 60%;
  border-radius: 50%;
}

.centered {
  float: none;
  margin: 0 auto;
}

/* Media */
.embed-responsive {
  padding-bottom: 1rem;
}

.media img {
  max-height: 50%;
  max-width: 100%;
}

.fa-spotify {
  height: 4rem;
}

.email:hover .fa-envelope {
  color: black;
}

.spotify:hover {
  transition-timing-function: ease;
  transition: 0.3s;
  font-size: 150%;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/ ;
